<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdkj.web.dao.sys.MenuMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.wdkj.web.model.sys.Menu">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="path" property="path"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        name,
        parent_id,
        path,
        status,
        sort
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.parentId != null"> parent_id, </if>
            <if test="pojo.path != null"> path, </if>
            <if test="pojo.status != null"> status, </if>
            <if test="pojo.sort != null"> sort, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.parentId != null"> #{pojo.parentId}, </if>
            <if test="pojo.path != null"> #{pojo.path}, </if>
            <if test="pojo.status != null"> #{pojo.status}, </if>
            <if test="pojo.sort != null"> #{pojo.sort}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO menu(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.parentId},
            #{pojo.path},
            #{pojo.status},
            #{pojo.sort}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE menu
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.parentId != null"> parent_id = #{pojo.parentId}, </if>
            <if test="pojo.path != null"> path = #{pojo.path}, </if>
            <if test="pojo.status != null"> status = #{pojo.status}, </if>
            <if test="pojo.sort != null"> sort = #{pojo.sort} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM menu
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.parentId != null"> AND parent_id = #{pojo.parentId} </if>
            <if test="pojo.path != null"> AND path = #{pojo.path} </if>
            <if test="pojo.status != null"> AND status = #{pojo.status} </if>
            <if test="pojo.sort != null"> AND sort = #{pojo.sort} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM menu where id = #{pojo.id}
    </delete>
</mapper>
